employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- ROOT ELEMENT -->
    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>

                <!-- EMPLOYEE RECORD -->
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <!-- EMPLOYEE ID (PRIMARY KEY STYLE CONSTRAINT) -->
                            <xs:element name="emp_id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- NAME (NON EMPTY STRING) -->
                            <xs:element name="emp_name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- EMAIL (BASIC FORMAT VALIDATION) -->
                            <xs:element name="email">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[^@]+@[^@]+\.[a-zA-Z]{2,}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- DEPARTMENT ID -->
                            <xs:element name="dept_id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- JOB TITLE -->
                            <xs:element name="job_title">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- HIRE DATE -->
                            <xs:element name="hire_date" type="xs:date"/>

                            <!-- STATUS (CONTROLLED VALUES) -->
                            <xs:element name="status">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Active"/>
                                        <xs:enumeration value="Inactive"/>
                                        <xs:enumeration value="Resigned"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>